<head>
  <link rel="stylesheet" type="text/css" href="../public/css/stylesheet.css">
</head>

<form id="accuracy_form">
  <label for="accuracy_field">Accuracy:</label>
  <input type="text" id="accuracy_field">
  <button type="submit" form="accuracy_form">Roll!</button>
</form>

<div id="outer_frame">
  <div class="frame_box">
    <div class="frame_name"></div>
    <div class="inner_frame_top_box">
      <div class="roll_one"></div>
      <div class="roll_two"></div>
    </div>
    <div class="inner_frame_bottom_box"></div>
  </div>

  <div class="frame_box">
    <div class="frame_name"></div>
    <div class="inner_frame_top_box">
      <div class="roll_one"></div>
      <div class="roll_two"></div>
    </div>
    <div class="inner_frame_bottom_box"></div>
  </div>

  <div class="frame_box">
    <div class="frame_name"></div>
    <div class="inner_frame_top_box">
      <div class="roll_one"></div>
      <div class="roll_two"></div>
    </div>
    <div class="inner_frame_bottom_box"></div>
  </div>

  <div class="frame_box">
    <div class="frame_name"></div>
    <div class="inner_frame_top_box">
      <div class="roll_one"></div>
      <div class="roll_two"></div>
    </div>
    <div class="inner_frame_bottom_box"></div>
  </div>

  <div class="frame_box">
    <div class="frame_name"></div>
    <div class="inner_frame_top_box">
      <div class="roll_one"></div>
      <div class="roll_two"></div>
    </div>
    <div class="inner_frame_bottom_box"></div>
  </div>

  <div class="frame_box">
    <div class="frame_name"></div>
    <div class="inner_frame_top_box">
      <div class="roll_one"></div>
      <div class="roll_two"></div>
    </div>
    <div class="inner_frame_bottom_box"></div>
  </div>

  <div class="frame_box">
    <div class="frame_name"></div>
    <div class="inner_frame_top_box">
      <div class="roll_one"></div>
      <div class="roll_two"></div>
    </div>
    <div class="inner_frame_bottom_box"></div>
  </div>

  <div class="frame_box">
    <div class="frame_name"></div>
    <div class="inner_frame_top_box">
      <div class="roll_one"></div>
      <div class="roll_two"></div>
    </div>
    <div class="inner_frame_bottom_box"></div>
  </div>

  <div class="frame_box">
    <div class="frame_name"></div>
    <div class="inner_frame_top_box">
      <div class="roll_one"></div>
      <div class="roll_two"></div>
    </div>
    <div class="inner_frame_bottom_box"></div>
  </div>

  <div class="frame_box">
    <div class="frame_name"></div>
    <div class="inner_frame_top_box">
      <div class="roll_one"></div>
      <div class="roll_two"></div>
    </div>
    <div class="inner_frame_bottom_box"></div>
  </div>

</div>
